.joinOuterContainer {
	/* width: 70vw;
	height: 70vh; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.joinInnerContainer {
	padding: 2rem;
	box-shadow: 0 0 5px 6px #eaeaea;
	border-radius: 0.75rem;
	/* margin-left: 40px; */
	margin: 9rem 0;
	/* transform: translateY(0); */
	animation: animateBox 800ms forwards ease-in-out;
}
.heading {
	text-align: center;
	text-transform: uppercase;
}
.joinInput,
.joinInput:focus {
	padding: 0.75rem 1rem;
	margin: 1rem 0;
	border-width: 0;
	border-bottom-width: 3px;
	border-color: steelblue;
	width: 250px;
}
.button {
	padding: 1.2rem 2.2rem;
	background-color: slateblue;
	margin-top: 2rem;
	border-radius: 2rem;
	border: none;
	margin-left: 4.5rem;
	overflow: hidden;
}

@keyframes animateBox {
	from {
		transform: translateY(-1000px);
	}

	to {
		transform: translateY(0);
	}
}
